bin
obj
debug
packages
*.ipa
*.json
*.xml
.vs/CheerApp/xs/UserPrefs.xml
.vs/CheerApp/xs/project-cache/CheerApp.iOS-Release|iPhoneSimulator.json
.vs/CheerApp/xs/project-cache/CheerApp.iOS-Release|iPhoneSimulator.json
CheerApp.iOS/AppDelegate (copy).cs
CorePush/obj/CorePush.csproj.nuget.dgspec.json
CorePush/obj/CorePush.csproj.nuget.g.props
CorePush/obj/CorePush.csproj.nuget.g.targets
CorePush/obj/Debug/CorePush.3.1.1.nuspec
CorePush/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
CorePush/obj/Debug/netstandard2.0/CorePush.AssemblyInfo.cs
CorePush/obj/Debug/netstandard2.0/CorePush.AssemblyInfoInputs.cache
CorePush/obj/Debug/netstandard2.0/CorePush.assets.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.AssemblyReference.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.CopyComplete
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.CoreCompileInputs.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.FileListAbsolute.txt
CorePush/obj/Debug/netstandard2.0/CorePush.dll
CorePush/obj/Debug/netstandard2.0/CorePush.pdb
CorePush/obj/project.assets.json
CorePush/obj/project.nuget.cache
CorePush/obj/CorePush.csproj.nuget.dgspec.json
CorePush/obj/CorePush.csproj.nuget.g.props
CorePush/obj/CorePush.csproj.nuget.g.targets
CorePush/obj/Debug/CorePush.3.1.1.nuspec
CorePush/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
CorePush/obj/Debug/netstandard2.0/CorePush.AssemblyInfo.cs
CorePush/obj/Debug/netstandard2.0/CorePush.AssemblyInfoInputs.cache
CorePush/obj/Debug/netstandard2.0/CorePush.assets.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.AssemblyReference.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.CopyComplete
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.CoreCompileInputs.cache
CorePush/obj/Debug/netstandard2.0/CorePush.csproj.FileListAbsolute.txt
CorePush/obj/Debug/netstandard2.0/CorePush.dll
CorePush/obj/Debug/netstandard2.0/CorePush.pdb
CorePush/obj/project.assets.json
CorePush/obj/project.nuget.cache
