bin
obj
debug
packages
*.ipa
*.json
*.xml
.vs/CheerApp/xs/UserPrefs.xml
.vs/CheerApp/xs/project-cache/CheerApp.iOS-Release|iPhoneSimulator.json
.vs/CheerApp/xs/project-cache/CheerApp.iOS-Release|iPhoneSimulator.json
.vs/CheerApp/v17/.suo
*.user
