<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>CheerApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.guyshachar.cheerapp</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleVersion</key>
	<string>2.3.03</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Assets.xcassets/LaunchImage.launchimage</string>
	<key>NSCalendarsUsageDescription</key>
	<string>n/a</string>
	<key>NSContactsUsageDescription</key>
	<string>n/a</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>n/a</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>CheerApp needs to access the camera to take photo for the app background</string>
	<key>NSSiriUsageDescription</key>
	<string>n/a</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>n/a</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>n/a</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>n/a</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>n/a</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>CheerApp needs to access the bluetooth to connect to a 3rd party device</string>
</dict>
</plist>
